
/**
 * Header
 */
#launchbar { width:100%; background-color:#000000; color:#fff; height:25px; }
#launchbar p { margin:0 0 0 30px; padding-top:4px; font-size:11px; font-family:arial; }

header { height:80px; background-color:#195D00; color:#fff; position:relative; }
header h1 { margin:0 0 0 30px; padding:10px 0 0 0; font-size:24px; font-weight:normal; font-family:arial; }


/**
 * Footer
 */
footer { padding:20px 0 30px 45px; clear:both; }
footer p { font-size:9px; color:#999; }
footer p a { color:#999; }
footer p a:hover { background-color:#666; color:white; text-decoration:none; }


/**
 * Navigation
 */
header nav a, header nav li { color:#D1EEFF; font-size:10px; }
header nav a:hover { background-color: #054700; color:white; text-decoration:none; }

nav#account ul { position:absolute; right:30px; top:0; }
nav#account li { float:left; padding:6px 5px 6px 4px; margin:0; display:inline; }

nav#account li a { padding:6px 4px 6px 4px; }
nav#account li span { padding:6px 6px 6px 4px; }

nav#account li:after { content:" | "; color:#D1EEFF; font-size:9px; }
nav#account li:last-child:after { content:""; }

nav.main { position:absolute; bottom:0px; left:30px; }
nav.extra { position:absolute; bottom:0px; right:30px; }

nav.top ul {}
nav.top li a { font-size:12px; padding:2px 9px 4px 9px; }

nav.tabs {}
nav.tabs ul {}
nav.tabs li { display:inline; border:none; }
nav.tabs li a { background-color:#217A00; text-decoration:none; float:left; margin-right:2px; }
nav.tabs li a:hover { background-color:#054700; }
nav.tabs li:last-child a { margin-right:0; }

nav.tabs li.active a { color:#000; font-weight:bold; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#E5E5E5)); }


/**
 * Box
 */
.box .banner { border-bottom:none; position:relative; background-color:#EDF3FE; }
.box .banner h2 { font-size:14px; padding:15px 0 0 20px; }

.box .banner .button { position:absolute; right:20px; top:10px; }

.box .banner ul.left { position:absolute; top:17px; left:20px; }
.box .banner ul.left li { float:left; margin-right:15px; }
.box .banner ul.left li a { font-size:12px; color:#03C; padding:0 1px; }
.box .banner ul.left li a:hover { text-decoration:none; background-color:#03C; color:#FFFFFF; }
.box .banner ul.left li.active a { color:black; text-decoration:none; font-weight:bold; }
.box .banner ul.left li.active a:hover { background-color:transparent; }

.box .banner ul.right { position:absolute; top:16px; right:20px; }
.box .banner ul.right li {}
.box .banner ul.right li a { font-size:11px; color:#FF0000; padding:1px; }
.box .banner ul.right li a:hover { text-decoration:none; background-color:#FF0000; color:#FFFFFF; }

.box .banner form { padding:5px 0 15px 0; margin:0 0 0 20px; }
.box .banner form div.input.text input { font-size:14px; font-weight:normal; }
.box .banner form div.input.select select { font-size:12px; padding:1px; }

.box .banner form.single { height:25px; }
.box .banner form.single div { float:left; }
.box .banner form.single label { width:auto; }
.box .banner form.single div.input.text { width:60%; margin-right:15px; }
.box .banner form.single div.input.text input { width:100%; }
.box .banner form.single div.submit { }
.box .banner form.single div.submit input { padding-top:2px; }

.box .banner form.right { position:absolute; top:10px; right:20px; }
.box .banner form.right label { margin-top:0; padding-right:5px; }
.box .banner form.right div.input { padding-left:10px; }
.box .banner form.right div.input:last-child { padding-right:0; }
.box .banner form.right div.submit { padding-left:10px; }
.box .banner form.right div.submit input { padding:1px; font-size:12px; }

.box .content p a.active { color:black; text-decoration:none; font-weight:bold; }


/**
 * Area
 */
.area {}
.area h3 { color:#333; font-size:13px; padding:6px 0 0 10px; }

.area .banner { background-color:#EDF3FE; border-bottom:1px solid gainsboro; margin:0 0 10px 0; min-height:30px; position:relative; }
.area .banner ul.right { position:absolute; top:4px; right:10px; }
.area .banner ul.right li {}
.area .banner ul.right li a { font-size:10px; font-family:arial; color:#03C; padding:0 1px; }
.area .banner ul.right li a:hover { text-decoration:none; background-color:#03C; color:#FFFFFF; }

.area .content { margin:0 10px 0 10px; font-size:12px; line-height:16px; }


/**
 * Section
 */
.section { margin:0 0 20px 0; }
.section.outlined { border:1px solid #CCC; padding:2px; }
.section.outlined .content { padding:0 10px; margin-bottom:10px; }
 
.section .banner { background-color:#F0F0F0; margin:0 0 10px 0; min-height:30px; position:relative; }
.section .banner h3 { font-size:16px; color:#333; padding:4px 0 0 10px; }

.section .banner h3 a { font-size:14px; color:#333; text-decoration:none; }
.section .banner h3 a:hover { color:white; background-color:#03C; padding:0 1px; }

.section .content { padding:0; }
.section .content p:last-child { margin-bottom:0; }
 

/**
 * Main
 */
#main { margin:0px auto; margin:10px 30px 20px 30px; }

#main .cols {}
#main .cols .col {}
#main .cols .col.left { width:70%; float:left; }
#main .cols .col.right { width:28%; float:right; }


/**
 * Right column
 */
.col.right p { margin:0 0 2px 0; }
.col.right p a { font-size:11px; }
.col.right .area { margin-bottom:20px; }
.col.right .button { margin-bottom:20px; }


/**
 * Project list
 */
.col.right .project-list {}
.col.right .project-list li ul { margin:2px 0 10px 10px; }


/**
 * People list
 */
h3.section { clear:both; }

.people-list { min-height:100px; clear:both; margin-bottom:20px; }
.people-list li { width:33%; display:inline-block; vertical-align:top; float:left; min-height:90px; }
.people-list img { float:left; }
.people-list .detail { float:left; margin-left:10px; }
.people-list h4 {}
.people-list p { font-size:11px; margin:0 !important; }
.people-list .title { }
.people-list .email {}
.people-list .edit {}
 
.people-list li.company { background:url(/img/company.png) transparent no-repeat; }
.people-list li.company .detail { margin-left:65px; }




