/**
 * Basic
 */

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -50px; }


/**
 * Content
 */


/**
 * Pagination
 */


/**
 * Tables
 */


/**
 * Forms
 */




/**
 * Navigation
 */



/**
 * Footer
 */
#footer { width: auto; text-align: center; background-color: #464646; padding: 15px 0px 15px 0px; color: #ccc; height: 20px; }
#footer a { color: #ccc; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
.push { height: 50px; }

