
/**
 * People list
 */
h3.section { clear:both; }

.people-list { min-height:100px; clear:both; margin:10px 0 20px 0; }
.people-list li { width:33%; display:inline-block; vertical-align:top; float:left; min-height:90px; }
.people-list .avatar { float:left; width:55px; }
.people-list .avatar .label { margin:0; text-transform:uppercase; font-size:9px; font-weight:bold; color:white; text-align:center; padding:2px 0; }
.people-list .avatar .label.owner { background-color:#008000; }
.people-list .avatar .label.invited { background-color:#BBB; }
.people-list .check { float:left; width:25px; }
.people-list .check input { margin-left:10px; }
.people-list .detail { float:left; margin-left:10px; }
.people-list h4 {}
.people-list p { font-size:11px; margin:0 !important; }
.people-list .title { }
.people-list .email {}
.people-list .edit {}
 
.people-list li.company { background:url(/img/company.png) transparent no-repeat; }
.people-list li.company .detail { margin-left:65px; }


/**
 * Block list
 */
.people-list.block { min-height:0; }
.people-list.block li { width:100%; min-height:0; padding:0 0 10px 0; margin:0 0 10px 0; display:block; min-height:auto; border-bottom:1px solid #F0F0F0; }
.people-list.block li:last-child { border-bottom:none; }


/**
 * Permissions list
 */
.permissions-list {  }
.permissions-list .permission-options input {  }
.permissions-list form .input.radio label { margin-left:5px; padding-right:15px; }