

/**
 * General
 */
hr { border:none; height:1px; border-top:1px solid #CCC; margin:5px 0 20px 0; }

ul.bullet { margin-bottom:20px; }
ul.bullet li { list-style-type:disc; margin-left:40px; }


/**
 * Box
 */
.box { margin:0px 0px 0px 0px; background: #fff;  }
.box { -webkit-box-shadow:#BBB 3px 3px 4px; -moz-box-shadow:#BBB 3px 3px 4px; }

.box .banner { border-bottom:none; position:relative; background-color:#EDF3FE;  min-height:48px; }
.box .banner h2 { font-size:14px; margin:0; padding:15px 0 0 20px; }
.box .banner h2 span { font-size:12px; color:#999; font-weight:normal; margin-left:10px; }

.box .banner h2 a { font-weight:bold; font-size:14px; }
.box .banner h2 a.sub { font-weight:normal; margin-left:20px; font-size:13px; }

.box .banner .button { position:absolute; right:20px; top:10px; }

.box .banner p { padding:5px 0 10px 20px; font-size:12px; }

.box .banner ul.left { position:absolute; top:17px; left:20px; }
.box .banner ul.left li { float:left; margin-right:15px; }
.box .banner ul.left li a { font-size:12px; padding:0 1px; }
.box .banner ul.left li a:hover { text-decoration:none; }
.box .banner ul.left li.active a { color:black; text-decoration:none; font-weight:bold; }
.box .banner ul.left li.active a:hover { background-color:transparent; }

.box .banner ul.right { position:absolute; top:16px; right:20px; }
.box .banner ul.right li { display:inline; margin-left:15px; }
.box .banner ul.right li a { font-size:11px; }

.box .banner form { padding:5px 0 15px 0; margin:0 0 0 20px; }
.box .banner form div.input.text input { font-size:14px; font-weight:normal; }
.box .banner form div.input.select select { font-size:12px; padding:1px; }

.box .banner form.single { height:25px; }
.box .banner form.single div { float:left; }
.box .banner form.single label { width:auto; }
.box .banner form.single div.input.text { width:60%; margin-right:15px; }
.box .banner form.single div.input.text input { width:100%; }
.box .banner form.single div.submit { }
.box .banner form.single div.submit input { padding-top:2px; }

.box .banner form.right { position:absolute; top:10px; right:20px; }
.box .banner form.right label { margin-top:0; padding-right:5px; }
.box .banner form.right div.input { padding-left:10px; }
.box .banner form.right div.input:last-child { padding-right:0; }
.box .banner form.right div.submit { padding-left:10px; }
.box .banner form.right div.submit input { padding:1px; font-size:12px; }

.box .banner .record { padding:15px 20px; }
.box .banner .record .wrapper { border-top:1px solid #CCC; border-right:2px solid #CCC; border-bottom:2px solid #CCC; border-left:1px solid #CCC; background-color:white; padding:10px; }

.box .content { padding:20px; }
.box .content h2 { margin:0; font-size:22px; font-weight:normal; padding:10px 0 10px 0; }
.box .content p { margin:0 0 1em 0; }
.box .content p a.active { color:black; text-decoration:none; font-weight:bold; }


.inline .box { border:2px solid #999; padding:10px; z-index:50; -webkit-box-shadow:none; }
.inline .banner { display:none; }
.inline .box h2 { display:none; }


/**
 * Area
 */
.area {}
.area h3 { color:#333; font-size:13px; padding:6px 0 0 10px; }

.area .banner { background-color:#EDF3FE; border-bottom:1px solid gainsboro; margin:0 0 10px 0; min-height:30px; position:relative; }
.area .banner ul.right { position:absolute; top:4px; right:10px; }
.area .banner ul.right li {}
.area .banner ul.right li a { font-size:10px; font-family:arial; }

.area .content { margin:0 10px 0 10px; font-size:12px; line-height:16px; }
.area .content h4 { border-bottom:1px solid #CCC; margin-bottom:2px; }

.area .content ul { margin-bottom:20px; }
.area .content ul:last-child { margin-bottom:0; }
.area .content ul li { font-size:11px; margin-bottom:10px; line-height:14px; }

.area .content ul.nested {}
.area .content ul.nested li { margin-bottom:2px; }
.area .content ul.nested ul li { margin-left:10px; font-size:11px; }

.area.plain {  }
.area.plain .banner { background-color:transparent; border-bottom:none; margin-left:0; margin-bottom:2px; min-height:0; }
.area.plain .banner h3 { padding:0; }
.area.plain .content { margin:0; }
.area.plain .content li { margin-bottom:2px; }
 

/**
 * Section
 */
.section { margin:0 0 20px 0; clear:both; }
 
.section .banner { background-color:#F0F0F0; margin:0 0 10px 0; min-height:30px; position:relative; }
.section .banner.tight { margin-bottom:2px; }
 
.section .banner h3 { font-size:14px; color:#333; padding:4px 0 0 10px; }
.section .banner h3 a { font-size:14px; color:#333; text-decoration:none; }
.section .banner h3 a:hover { color:white; }

.section .banner ul.right { position:absolute; top:4px; right:10px; }
.section .banner ul.right li {}
.section .banner ul.right li a { font-size:11px; font-family:arial; }

.section .content { padding:0; }
.section .content p:last-child { margin-bottom:0; }

.section.outlined { border:1px solid #CCC; padding:2px; }
.section.outlined .content { padding:0 10px; margin-bottom:10px; }

.section.indented .content { padding:0 10px; margin-bottom:10px; }

.section.important {}
.section.important .banner { background-color:#C00; }
.section.important .banner h3 { color:white; }
.section.important h4 { color:#C00; }

.section.highlight {}
.section.highlight .banner { background-color:#FC0; }
.section.highlight .banner h3 { color:black; }
.section.highlight h4 { color:#C93; }

.section.completed {}
.section.completed .banner { background-color:#090; }
.section.completed .banner h3 { color:white; }
.section.completed h4 { color:#090; }
 
.section.small .banner { min-height:20px; }
.section.small .banner h3 { font-size:11px; font-weight:bold; padding:2px 0 0 6px; }

.section.other {}
.section.other .banner { background-color:transparent; border-bottom:1px dotted #CCC; min-height:0; }
.section.other .banner h3 { color:#900; padding-left:0; }
.section.other h4 { color:#090; }
.section.other ul { margin:0 0 20px 0; }
.section.other li { font-size:14px; margin:0 0 10px 0; }
.section.other li a { font-size:16px; margin:0 0 2px 0; font-weight:bold; }



/**
 * Start bar
 */
.start-bar { text-align:center; background-color:#FFC; border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:10px; margin-bottom:25px; }
.box .content .start-bar h2 { font-size:22px; margin:0 0 0 0; padding:0; font-weight:bold; }
.box .content .start-bar p { font-size:12px; margin:0; }



/**
 * HTML lists
 */
ul.overdue {}
ul.overdue li { font-size:11px; margin:0 0 4px 0; }
ul.overdue li:last-child { margin-bottom:0; }
ul.overdue li strong { color:#C00; }



/**
 * Blank slate
 */
.blank-slate { width:650px; margin:50px auto 100px auto; background-color:white; padding:20px 40px 30px 40px; -webkit-box-shadow:#BBB 3px 3px 4px; -moz-box-shadow:#BBB 3px 3px 4px; }
.blank-slate div.icon { float:left; width:160px; }
.blank-slate div.content { margin-left:160px; }
.blank-slate div.content h2 { font-size:18px; color:#333; margin:0 0 5px 0; }
.blank-slate div.content p { font-size:16px; color:#444; margin:0 0 15px 0; font-family:arial; line-height:20px; }
.blank-slate div.content ul {}
.blank-slate div.content li { font-size:16px; }


/**
 * Main
 */
#main { margin:0px auto; margin:10px 30px 20px 30px; }





/**
 * Columns
 */
.cols {}
.cols .col {}
 
.cols .col.left { width:70%; float:left; }
.cols .col.right { width:28%; float:right; min-width:340px; }
 
 
 
/**
 * Forms
 */
form fieldset { margin-bottom:20px; }
form legend { font-weight:bold; padding-bottom:10px; }
form label { width:120px; float:left; font-size:12px; color:#222; margin-top:5px; }
form label span { font-size:12px; font-weight:normal; color:#666; margin-left:5px; }
form .text input, form .password input { font-size:16px; font-weight:bold; padding:3px; color:#000; }
form small { font-size:10px; color:#999; display:block; margin-left:120px; padding-top:2px; }
form textarea { width:65%; height:8em; }
form select { font-size:14px; padding:1px; color:#000;}
form hr { border:none; height:1px; border-top:1px dashed #CCC; margin:20px 0 20px 0; }
form h3 { font-size:14px; font-family:"Lucida Grande", Verdana; }

form .input.checkbox input { float:left; margin:2px 5px 0 0; }
form .input.checkbox label { width:auto; margin:0 0 0 8px; }

form .input.radio input { float:left; margin:2px 0 0 0; }
form .input.radio label { width:auto; margin:0 0 0 8px; }

form .input { margin-bottom:10px; }
form .input.strong label { font-weight:bold; }

form .submit { font-size:11px; position:relative; }
form .submit input { padding:3px 5px 3px 5px; margin-right:8px; }
form .submit a { color:#ff0000; padding:0 1px; }
form .submit a:hover { color:#FFF; background-color:#ff0000; text-decoration:none; }

form .submit .saving { background:url(/img/icons/loader-small-horizontal.gif) white no-repeat center left; width:100%; height:100%; position:absolute; top:0; }

form .extra { border:1px dotted #999; padding:5px; margin:15px 0; }
form .extra p { font-size:12px; }
form .extra div.input { padding:0 5px; margin-bottom:5px; }
form .extra div.input:last-child { margin-bottom:0; }
form .extra div.input label { font-size:11px; top:2px; }
form .extra .input.checkbox input { margin-top:1px; }

form .block label, form.block label { display:block; float:none; width:auto; margin-bottom:2px; }
form .block small, form.block small { margin-left:0; }

form.basic { margin-bottom:20px; }
form.basic fieldset { background-color:#F0F0F0; padding:20px 10px; }
form.basic fieldset.tight { padding:10px; }
form.basic fieldset .input:last-child { margin-bottom:0; }
form.basic label { text-align:right; font-size:11px; margin-top:3px; padding-right:10px; }
form.basic input { font-size:12px; padding:3px; font-weight:normal; }
form.basic label:after { content:":" }
form.basic div.checkbox label:after { content:"" }
form.basic div.text input { width:15em; }
form.basic small { display:inline; margin-left:10px; }
form.basic .intro { margin-bottom:5px; }
form.basic h3 { margin-bottom:5px; }

form.larger label { font-size:14px; }


form .input.text.full-width input { width:90%; }


/**
 * Buttons
 */
.button.large {
 font-size: 16px;
 padding: 8px 19px 9px;
}

.button {
 -webkit-box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 3px;
 background: #6f9e2c url(/img/overlay-button.png) repeat-x 0px 0px;
 border:none;
 border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
 border-bottom-left-radius: 5px 5px;
 border-bottom-right-radius: 5px 5px;
 border-top-left-radius: 5px 5px;
 border-top-right-radius: 5px 5px;
 color: white;
 cursor: pointer;
 display: inline-block;
 font-size: 13px;
 font-weight: bold;
 line-height: 1;
 overflow: visible;
 padding: 5px 15px 6px;
 position: relative;
 text-decoration: none;
 text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 1px;
 width: auto;
}

.button:hover {
 background-color: #8fb53c;
 color: white;
}

.button.action {
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#E5E5E5));
  color:#000000;
  text-shadow: rgba(255, 255, 255, 0.246094) 0px -1px 1px;
  border-radius: 12px;
}

.button.action:hover {
  color:#3D3D3D;
}

.button.action.large {
 font-size: 14px;
 padding: 6px 19px 6px;
}

.button.action.add span { background:url(/img/icons/add.png) no-repeat 0 1px; margin-left:-14px; padding-left:25px; top:-1px; position:relative; }

.button.margin { margin-bottom:20px; }


/**
 * Tables
 */
table.std { width:100%; border-collapse:collapse; margin:0 0 25px 0; }

table.std thead { }
table.std thead th { background-color:#F0F0F0; padding:4px 5px; font-size:14px; text-align:left; font-family:arial; color:#333; }
table.std thead th h3 a { color:#333; text-decoration:none; }

table.std thead th.links { text-align:right; }
table.std thead th.links a { font-size:11px; font-weight:normal; }

table.std td { border-bottom:1px solid #F0F0F0; padding-bottom:3px; padding-top:3px; padding-right:5px; }
table.std td:first-child { padding-left:5px; }
table.std td:last-child { padding-right:5px; }

table.std tfoot {}
table.std tfoot td { font-weight:normal; text-align:left; font-size:11px;  }
table.std tfoot td {}


/**
 * Calendar
 */
table.calendar { width:100%; border-collapse:separate; }

table.calendar.no-head thead { display:none; }
table.calendar th { color:#999; text-transform:uppercase; }

table.calendar td { height:65px; vertical-align:top; width:20%; padding:10px 12px; font-size:10px; position:relative; background-color:#F0F0F0; border:1px solid #F0F0F0; }

table.calendar th.month { width:1%; padding:0; }
table.calendar th.month div { text-align:center; text-transform:uppercase; color:#000000; background-color:#333; padding:15px 0 15px 0; width:60px; color:white; font-weight:bold; font-size:14px; position:relative; top:2px; }
 
table.calendar td.empty { background-color:#f5f5f5; border:1px solid #f5f5f5; }
table.calendar td.day { background-color:#F0F0F0; border:1px solid #F0F0F0; }
table.calendar td.today { background-color:#FFC; border:1px solid #FC0; }
table.calendar td.weekend { background-color:#CCC; border:1px solid #CCC; width:1%; min-width:20px; }

table.calendar td .wrapper { position:relative; }
table.calendar td .day { float:right; color:#999; position:absolute; top:0; right:0; }
table.calendar td.today .day { text-transform:uppercase; color:white; background-color:#FC0; padding:1px 5px; }

table.calendar td.with { border:1px solid black !important; background-color:white !important; }
table.calendar td.with .day { color:black; font-weight:bold; }


table.calendar.short { border-collapse:separate; background-color:#E0E0E0; border-spacing:1px 1px; }
table.calendar.short th { color:#666; background-color:#E0E0E0; text-transform:capitalize; text-align:left; font-size:10px; padding:2px 5px; }
table.calendar.short td { width:14%; height:auto; min-height:65px; padding:5px; }
table.calendar.short td .day { float:none; display:block; position:relative; }
table.calendar.short td.weekend { background-color:#F0F0F0; border:1px solid #F0F0F0; width:14%; }
table.calendar.short td.today { border:none; }
table.calendar.short td.today .day { color:#333; background-color:transparent; padding:0; }
 
table.calendar.small { width:200px; border-collapse:collapse; }
table.calendar.small th { background-color:#CCC; color:#666; font-size:10px; padding:3px 0 3px 0; }
table.calendar.small td { background-color:transparent; border:1px solid transparent !important; padding:0; width:22px; height:22px; }
table.calendar.small td .day { color:black; float:none; width:100%; text-align:center; margin:3px 0 0 0; }
table.calendar.small td.weekend .day { color:#999; }
table.calendar.small td.today { background-color:#FC0; border:1px solid #69C !important; }
table.calendar.small td.today .day { padding:0; float:none; background-color:transparent; font-weight:bold !important; }

table.calendar.small th.month { width:36px; font-size:10px; }

table.calendar.small td.with { background-color:#FC0 !important; }
table.calendar.small td.with .day { font-weight:normal; color:black; }

 

/**
 * Logs
 */
table.logs {  }

table.logs thead { border-bottom:5px solid white; }

table.logs td { font-size:10px; }

table.logs td.type { white-space:nowrap; padding-right:10px; }
table.logs td.description { font-size:11px; width:100%; }
table.logs td.action { white-space:nowrap; color:#999; text-align:right; }
table.logs td.person { white-space:nowrap; }
table.logs td.date { white-space:nowrap; border-left:1px solid #F0F0F0; padding-left:5px; }

table.logs.dated { }
table.logs.dated tr:first-child h4 { margin-top:0; }
table.logs.dated tr.date td { border-bottom:0; }
table.logs.dated td h4 { font-size:10px; text-transform:uppercase; color:#666; margin:20px 0 5px -25px; }
table.logs.dated td h4 span { border-bottom:1px solid #E5E5E5; padding:2px 4px 2px 24px; }
 


/**
 * Badges
 */
.badge { color:white; display:block; font-size:10px; padding:3px 4px; white-space:nowrap; width:70px; text-align:right; }
.badge.todo { background-color:#C87800; }
.badge.milestone { background-color:#5F6E43; }
.badge.comment { background-color:#6492AC; }
.badge.post { background-color:#334E7D; }
.badge.private { background-color:#FF0000; }

