
header { height:40px; background-color:#222; color:#fff; }
header h1 { width:900px; margin:0 auto; padding-top:10px; font-size:14px; font-family:arial; }
header h1 a { color:white; text-decoration:none; }
header h1 a:hover { background-color:transparent; }
header h1 a:hover { color:white; }

h2 { font-size:14px; margin-bottom:10px; }

#main { margin: 0px auto; width:900px; padding: 20px 0px 0px 0px; }

.box .banner { border-bottom:1px solid #d4d5d0; background-color:#f0f1e9; }
