
.box { width:650px; margin:0 auto; border-radius:12px; }
.box .banner { border-top-left-radius:12px; border-top-right-radius:12px; }
.box div.input input { width:40%; }

.content .box h2 { font-weight:bold; margin-bottom:5px; border:1px solid red; }
p.intro { font-size:14px; color:#666; }

.cols {}
.cols .col {}
.cols .col.left { width:350px; }
.cols .col.right { width:240px; min-width:0; border-left:1px solid #CCC; padding-left:15px; }

.cols .col.left input { width:90%; }

.cols .col.right h3 { font-size:12px; margin:5px 0 5px 0; }
.cols .col.right p { font-size:11px; }
