
/**
 * Listable
 */
.listable { position:relative; }
.listable .items { position:relative; margin-left:-12px; }



/**
 * Group
 */
.listable .group { margin:0 0 25px 0; }
.listable .group .banner { background-color:white !important; min-height:0; margin:0 0 5px 0; padding:0; }
.listable .group .banner h4 { font-size:11px; margin:10px 0 0 0; padding:0; }
.listable .group .banner span { font-weight:normal; }
.listable .group .banner span.responsibility { color:#666; } 
.listable .group .content { padding-left:0; }

.listable .group .header .item { margin:0; border-top:none; }
.listable .group .header .item .label { font-weight:bold; font-size:16px; color:#000000; }
.listable .group .header .item .label a { color:#000000; text-decoration:none; }
.listable .group .header .item .label a:hover { background-color:transparent; color:#000000; text-decoration:underline; }

.listable .group .header .after { font-style:italic; font-size:11px; }
.listable .group.ui-state-edit .item-content { display:none; }

.listable p.list-description { margin:0 0 0 18px; font-size:12px; font-style:italic; }



/** 
 * Positions
 */
.listable .item .check { margin-left:15px; }
.listable .item .label { margin-left:35px; }

.listable .group .header .item .label { margin-left:0px; }
.listable .group .header .after { margin-left:0px; }



/**
 * Item
 */
.listable .item { min-height:15px; margin:0px; padding:2px 0; position:relative; }

.listable .item .loading { background:url(/img/icons/circle_ball.gif) white no-repeat center center; width:16px; height:17px; position:absolute; top:4px; left:-5px; z-index:10; }

.listable .item .check { position:relative; }
.listable .item .check div.input { position:absolute; z-index:10; }
.listable .item .check div.input input { position:relative; top:2px; }

.listable .item .label { font-size:12px; position:relative; color:#333; z-index:10; display:inline-block; }
.listable .item .label span {  }
.listable .item .label .name { display:inline; }
.listable .item .label .name a.edit-link { color:#333; text-decoration:none; }
.listable .item .label .name a.edit-link:hover { background-color:white; color:#666; }

.listable .item .extra { background-color:#EFEFEF; display:inline; border-radius:10px; margin-left:5px; padding:2px 8px; font-size:10px; color:#333; }
.listable .item .extra.hover { background-color:#C9C9C9; cursor:pointer; }
.listable .item .extra.active { background-color:#000104; color:white; cursor:pointer; }

.listable .item .extra.private { background-color:#D00 !important; color:white; font-weight:normal; border-radius:0; font-size:9px; padding:2px 4px; position:relative; top:-2px; cursor:pointer; }
.listable .item .private-pop { position:absolute; top:-30px; right:-75px; background:url(/img/icons/arrow-red-down-11.png) transparent no-repeat bottom center; height:29px;  }
.listable .item .private-pop p { background:url(/img/icons/padlock-red-16.png) #D00 no-repeat 5px 3px; color:white; font-size:10px; margin:0; width:170px; padding:4px 0 4px 25px; font-weight:normal; }


/**
 * Comments
 */
.listable .item .comment { display:inline-block; }
.listable .item .comment span.count { margin:0; display:none; }
.listable .item .comment span.count a { color:#777; font-size:10px; text-decoration:none; }
 
.listable .item .comment span.icon { display:inline-block; width:14px; height:13px; background:url(/img/icons/comments-13.png) transparent top left; text-indent:-9000px; margin-left:5px; position:relative; top:2px; }
.listable .item .comment a { display:block; width:100%; height:100%; }
.listable .item .comment a:hover { background-color:transparent; }

.listable .item.l-comments-with .comment span.icon { background-position:-15px 0; }
.listable .item.l-comments-with .comment span.count { display:inline-block; }

.listable .item.l-comments-unread .comment span.icon { background-position:-30px 0; }



/**
 * Maintain buttons
 */
.listable .item .delete { position:absolute; right:0; top:7px; width:16px; height:16px; display:inline-block; text-indent:-9000px; }
.listable .item .delete a { display:block; width:100%; height:100%; background:url(/img/sprites.png) transparent -40px 0; }
.listable .item .delete a:hover { background-color:transparent; background-position:-40px -20px; }

.listable .item .position { position:absolute; left:0; top:5px; width:8px; height:16px; background:url(/img/sprites.png) transparent -24px 0px; cursor:move; }

.listable .item.position {}
.listable .item.position .check input { left:20px; }
.listable .item.position .label { left:40px; }

.listable .group.large .item {}
.listable .group.large .item .label { font-size:14px; }

.listable .group.slim .item { margin:2px 5px; min-height:20px; }
.listable .group.slim .item .check div.input input { top:0; left:20px; }
.listable .group.slim .item .maintain .delete { margin-left:52px; margin-top:0; top:1px; position:relative; }
.listable .group.slim .item .label { font-size:10px; color:#999; left:40px; }
.listable .group.slim .item .label strong { color:#666; margin-right:5px; }
.listable .group.slim .item .maintain { background-color:transparent; border-bottom-left-radius:0 0; border-top-left-radius:0 0; }

.banner .listable .item .check div.input input { top:6px; }
.banner .listable .item .label { font-size:18px; }



/**
 * Inline box
 */
.listable .inline { position:relative; }
.listable .inline .box { padding:0 0 5px 0; margin:0 0 10px 0; border:none; box-shadow:none; }
.listable .inline .box .content { padding:0; }



/**
 * States
 */
.listable .item .delete { display:none; }
.listable .item .loading { display:none; }
.listable .item .position { display:none; }
.listable .item.l-comments-without .comment { display:none; }

.listable .item.ui-state-edit .after { display:none; }

.listable .item.ui-state-active {  }
.listable .item.ui-state-active .delete { display:block; }
.listable .item.ui-state-active .position { display:block; }
.listable .item.ui-state-active .comment { display:inline-block; }

.listable .item.ui-state-loading .loading { display:block !important; }
.listable .item.ui-state-loading .delete { display:none;  }
.listable .item.ui-state-loading .comment { display:none; }
.listable .item.ui-state-loading .position { display:none; }

.listable .item.ui-state-edit .view { display:none; }
.listable .item.ui-state-edit .inline { display:block; }
.listable .item.ui-state-edit .loading { display:none; }
.listable .item.ui-state-edit .delete { display:none; }
.listable .item.ui-state-edit .position { display:none; }



/**
 * Listables with groups
 */
.listable .group.ui-state-edit {  }
.listable .group.ui-state-edit .header .overview { display:none; }
.listable .group.ui-state-edit .item-content { display:none; }
.listable .group.ui-state-edit .after { display:none; }





/**
 * Styles
 */
 


/**
 * Maintain options right inline
.listable.inline-right { margin:0 0 20px 0; padding:0 0 5px 0; }
.listable.inline-right .item {  }
.listable.inline-right .item .check {  }
.listable.inline-right .item .label { left:0px; }

.listable.inline-right .item { margin:0; min-height:0; padding-bottom:5px; }
.listable.inline-right .item .maintain { padding:0; display:inline-block; position:relative; background-color:transparent; width:auto; border-radius:0; position:relative; top:1px; left:5px; }
.listable.inline-right .item .maintain .delete { margin-top:4px; position:absolute; left:30px; display:none; }
.listable.inline-right .item .maintain .edit { display:none; }
.listable.inline-right .item.ui-state-active .maintain .delete { display:block; }
.listable.inline-right .item.ui-state-active .maintain .edit { display:inline-block; }

.listable.inline-right .item .loading { top:0px; }

 */



/**
 * Elements visible
 */
.listable.edit-visible .item .maintain .edit { display:inline-block; }
