
/**
 * Listable
 */
.listable {}
 
.listable .group { border-bottom:1px solid #E0E0E0; }

.listable .group .banner { background-color:white !important; min-height:0; margin:0 0 5px 0; padding:0; }
.listable .group .banner h4 { font-size:11px; margin:10px 0 0 0; padding:0; }
.listable .group .banner span { font-weight:normal; }
.listable .group .banner span.responsibility { color:#666; } 
.listable .group .content { padding-left:0; }
 
 

.listable .item { min-height:15px; margin:2px 0px; position:relative; left:-45px; }
.listable .item.ui-sortable-helper { left:5px !important; }

/**
 * Checkbox
 */
.listable .item .check { left:55px; position:relative; }
.listable .item .check div.input { position:absolute; z-index:10; }
.listable .item .check div.input input { position:relative; top:2px; }



/**
 * Name
 */
.listable .item .label { font-size:12px; left:75px; position:relative; color:#333; z-index:10; display:inline; }
.listable .item .label span {  }
.listable .item .label .name { display:inline-block; }


/**
 * Extra rounded box (e.g. assigned to)
 */
.listable .item .extra { background-color:#EFEFEF; display:inline; border-radius:10px; margin-left:5px; padding:2px 8px; font-size:10px; color:#333; }
.listable .item .extra.hover { background-color:#C9C9C9; cursor:pointer; }
.listable .item .extra.active { background-color:#000104; color:white; cursor:pointer; }


/**
 * Private
 */
.listable .item .extra.private { background-color:#D00 !important; color:white; font-weight:normal; border-radius:0; font-size:9px; padding:2px 4px; position:relative; top:-2px; cursor:pointer; }
.listable .item .private-pop { position:absolute; top:-30px; left:12px; background:url(/img/icons/arrow-red-down-11.png) transparent no-repeat bottom center; height:29px;  }
.listable .item .private-pop p { background:url(/img/icons/padlock-red-16.png) #D00 no-repeat 5px 3px; color:white; font-size:10px; margin:0; width:170px; padding:4px 0 4px 25px; font-weight:normal; }


/**
 * Comments, after name
 */
.listable .item .comment { display:inline-block; }

.listable .item .comment span.count { margin:0 0 0 3px; display:none; }
.listable .item .comment span.count a { color:#777; font-size:10px; text-decoration:none; }
 
.listable .item .comment span.icon { display:inline-block; width:14px; height:13px; background:url(/img/icons/comments-13.png) transparent top left; text-indent:-9000px; margin-left:5px; position:relative; top:2px; }
.listable .item .comment a { display:block; width:100%; height:100%; }
.listable .item .comment a:hover { background-color:transparent; }

.listable .item.l-comments-with .comment span.icon { background-position:-15px 0; }
.listable .item.l-comments-with .comment span.count { display:inline-block; }

.listable .item.l-comments-unread .comment span.icon { background-position:-30px 0; }

.listable .item .loading { background:url(/img/icons/loader-small-horizontal.gif) white no-repeat center center; width:50px; height:27px; position:absolute; top:-5px; left:0; z-index:10; border-bottom-left-radius: 15px 15px; border-top-left-radius: 15px 15px; }

/**
 * 
 */
.listable .item .maintain { display:none; }
.listable .item.l-comments-without .comment { display:none; }

.listable .item.ui-state-active .maintain { display:block; }
.listable .item.ui-state-active .comment { display:inline-block; }

/**
 * Maintain record
 */
.listable .item .maintain { position:absolute; left:0; top:-5px; background-color:white; padding:3px 0 3px 3px; border-bottom-left-radius: 15px 15px; border-top-left-radius: 15px 15px; width:100%; z-index:5; }

.listable .item .maintain .delete { margin:5px 0 0 6px; width:10px; height:11px; display:inline-block; text-indent:-9000px; background:url(/img/icons/delete-10.png) transparent top left; }
.listable .item .maintain .delete a { display:block; width:100%; height:100%; }
.listable .item .maintain .delete a:hover { background-color:transparent; }

.listable .item .maintain .edit { margin:0 0 0 6px; }
.listable .item .maintain .edit a { font-size:10px; position:relative; top:-2px; }

.listable .item .maintain .position { width:13px; height:16px; display:inline-block; background:url(/img/icons/position.png) transparent top left; margin:0 0 0 4px; top:4px; position:relative; cursor:move; }

.listable .item.position {}
.listable .item.position .check input { left:20px; }
.listable .item.position .label { left:40px; }

.listable .group.large .item {}
.listable .group.large .item .label { font-weight:bold; font-size:14px; }

.listable .group.slim .item { margin:2px 5px; min-height:20px; }
.listable .group.slim .item .check div.input input { top:0; left:20px; }
.listable .group.slim .item .maintain .delete { margin-left:52px; margin-top:0; top:1px; position:relative; }
.listable .group.slim .item .label { font-size:10px; color:#999; left:40px; }
.listable .group.slim .item .label strong { color:#666; margin-right:5px; }
.listable .group.slim .item .maintain { background-color:transparent; border-bottom-left-radius:0 0; border-top-left-radius:0 0; }

.banner .listable .item .check div.input input { top:6px; }
.banner .listable .item .label { font-size:18px; }


/**
 * Inline box
 */
.listable .inline { position:relative; left:45px; }
