/**
 * Index
 */
.listable .attached-to { margin:0 0 2px 75px; }
.listable .attached-to li { color:#666; }
.listable .attached-to a {}


/**
 * Edit inline
 */
.listable .inline .box { background-color:#EFEFEF; padding:5px; }

.item-add label { display:block; font-size:11px; float:none; margin:0 0 3px 0; }
.item-add textarea { height:4em; width:60%; }
.item-add hr { margin:5px 0; clear:both; }

.item-add .input.title label { display:none; }
.item-add .input.title small { display:none; }

.item-add {  }
.item-add div.fields { clear:both; }
.item-add div.first { display:inline-block; margin-right:20px; }
.item-add div.second { display:inline-block; }

.item-add .submit .saving { background-color:#EFEFEF; }


/**
 * Add
 */
#MilestoneAdd {}
#MilestoneAdd form .cols { height:225px; }
#MilestoneAdd form .col {  }

#MilestoneAdd form .calendar { border-right:1px solid #CCC; width:250px; float:left; }
#MilestoneAdd form .calendar label { margin:0 0 10px 0; }

#MilestoneAdd form .detail { margin-left:280px; }
#MilestoneAdd form .detail div.input { margin:0 0 20px 0; }
#MilestoneAdd form .detail div.input.text input { width:8   0%; }

 
/**
 * Add multiple
 */
table.add-multiple {}
table.add-multiple tbody td { padding-right:20px; }
table.add-multiple .input.text input { width:100%; padding:2px; font-weight:normal; }

table.add-multiple td.title { width:60%; }
table.add-multiple td.due { white-space:nowrap ; }
table.add-multiple td.responsible { white-space:nowrap ; }
table.add-multiple td.reminder { width:40%; white-space:nowrap ; }

table.add-multiple td.reminder div {}
table.add-multiple td.reminder div label { margin-left:2px; font-size:10px; position:relative; top:1px; }


/**
 * Comments head
 */
.milestone-comment-head #milestoneStatus p { margin:0; padding:0 0 5px 5px; }
.milestone-comment-head .item.completed .name { text-decoration: line-through; }


