
/**
 * Project list
 */
.box ul.project-list { }
.box ul.project-list li { margin:0 0 20px 0; }
.box ul.project-list h3 { font-size:14px; margin:0; }
.box ul.project-list p.company { color:#999; }
	

/**
 *
 */
#PermissionProject { margin:20px 0 0 0; }
#PermissionProject .options { margin-left:10px; }

#PermissionProject div.input.radio input { margin-right:5px;  }
#PermissionProject div.input.radio label { font-size:13px; padding-bottom:2px; }

#PermissionProject .option { margin-left:18px; }
#PermissionProject .option p { margin:0 0 2px 0; }
#PermissionProject .option label { font-size:13px; }
