
div.logos { margin:0; }

div.logos div.row { margin:0 0 40px 0; }
div.logos div.image { background-color:#F0F0F0; border:1px solid #F0F0F0; height:130px; margin-bottom:5px; overflow:hidden; text-align:center;  width:33%; }
div.logos div.image img { margin-top:10px; }
div.logos div.image span { color:#666; font-size:11px; padding-top:55px; display:block; }
div.logos p { font-size:12px; }
div.logos p.type { margin-bottom:0; }
div.logos p.info { color:#666; margin-bottom:5px; }

div.logos div.apple div.image { background:url(/img/settings/apple-bg.png) transparent no-repeat top center; }
div.logos div.apple div.image img { border-bottom-left-radius: 20px 20px; border-bottom-right-radius: 20px 20px; border-top-left-radius: 20px 20px; border-top-right-radius: 20px 20px; }

div.logos div.col.shortcut div.image { background:url(/img/settings/shortcut-bg.png) transparent no-repeat -35px -20px; position:relative; }
div.logos div.col.shortcut div.image img { position:absolute; top:22px; left:105px; }

.content p.note { margin-bottom:5px; }

div.input.file { margin:30px 20px; }

div.col.image .content { text-align:center; }
