
/**
 * Completed list
 */
.completed-list {}
.completed-list ul { margin-bottom:20px; }
.completed-list li { margin-left:10px; }

/*
.reorder-todos {}

.reorder-todos .group { margin:0; }
.reorder-todos .group .header .item .label { margin-left:30px; }

.reorder-todos .item { padding:10px 0; }
.reorder-todos .item .maintain { display:block; }
.reorder-todos .item .maintain .position { display:block !important; top:5px; }
.reorder-todos .item-content { display:none; }
.reorder-todos .list-description { display:none; }
.reorder-todos .after { display:none; }
*/


.recent { margin:5px 0 0 0; }
.recent .item { min-height:15px; padding:2px 0; }
.recent .item .label { font-size:10px; color:#999; }
.recent .item .label strong { color:#666; font-weight:normal; }


.count { margin:10px 0 0 45px; }
.count p { font-size:10px; }
.count p a { color:#999; }
.count p a:hover { color:#FFFFFF; }

.add-item-link { background-color:#EFEFEF; padding:2px 5px; margin:5px 0 0 0; }
.add-item-link a { font-size:11px; }

.item-add { background-color:#EFEFEF; padding:5px; margin:5px 0 0 25px; }
.item-add label { display:block; font-size:11px; float:none; margin:0 0 3px 0; }
.item-add textarea { height:4em; width:60%; }
.item-add hr { margin:5px 0; clear:both; }

.item-add .options {  }
.item-add .options div.fields { clear:both; }
.item-add .options div.first { display:inline-block; margin-right:20px; }
.item-add .options div.second { display:inline-block; }

.item-add .submit .saving { background-color:#EFEFEF; }

.inline .item-add { margin-left:0; }
.inline .item-add .description label { display:none; }


/**
 * Header inline edit
 */
.listable .header .inline .box { background-color:#EFEFEF; border:none; padding:10px; }
.listable .header .inline .box .content { padding:0; }
.listable .header .inline .box hr { margin:5px 0; clear:both; }
.listable .header .inline .submit .saving { background-color:#EFEFEF; }


/**
 * Comments head
 */
.todositems-comment-head .item.completed .name { text-decoration: line-through; }
.todositems-comment-head .item.completed .name strong { font-weight:normal; color:#666; }


/**
 * Todos add
 */
#TodoAdd fieldset.optional { margin-left:10px; }
#TodoAdd fieldset.optional label { font-size:13px;