
* { margin: 0;}
html, body { font: 13px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif; background-color: #f5f6f8; line-height:1.5; height: 100%; }

a { color:#0066cc; }
a:hover { color:#0099ff; }

.error,
.notice,
.success,
.message { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice,
.message { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a { color: #D12F19; }
.notice a,
.message a { color: #817134; }
.success a { color: #529214; }
