
* { margin: 0;}
html, body { font: 13px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif; background-color: #E5E5E5; line-height:1.5; height: 100%; }

h1, h2, h3, h4, h5 { font-family:Arial; }

h3.sub { font-size:12px; border-bottom:1px solid black; margin:15px 0 5px; padding-bottom:2px; }

p.important, h3.important, h4.important { color:#C00; }

p.note { color:#666; font-size:12px; }
p.note span { text-transform:uppercase; font-weight:bold; }

p.large { font-size:16px; font-family:arial; }

a { color:#03C; padding:0 1px; }
a:hover { background-color:#03C; text-decoration:none; color:white; padding:0 1px; }

a.important, .important a { color:red; }
a.important:hover, .important a:hover { background-color:red; text-decoration:none; color:white; }
a.important.active, .important a.active { background-color:#FC3; color:#000000; }

a.unimportant, .unimportant a { color:#333; padding:0 1px; }
a.unimportant:hover, .unimportant a:hover { background-color:#333; text-decoration:none; color:white; }

.error,
.notice,
.success,
.message { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice,
.message { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a { color: #D12F19; }
.notice a,
.message a { color:#817134; }
.success a { color:#529214; }

p.highlight, label.highlight, h4.highlight { background-color:#FFC; }

p.overdue { color:#C00; }
p.upcoming { color:#C93; }
p.completed { color:#090; }

.private { background-color:#FFE6EA !important; }

.strike { text-decoration:line-through; }

/** Remove */
a.red { color:red; background-color:red; border:10px solid red; padding:0 1px; }
a.red:hover { background-color:red; text-decoration:none; color:white; padding:0 1px; }



/** Paddings */
.pad5 { padding:5px; }
.pad10 { padding:10px; }
.pad15 { padding:15px; }
.pad20 { padding:20px; }
