
.section.plain { border-bottom:0; }

.todos .cols { background-color:#EEE; }
.todos .col.left {   width:30%; }
.todos .col.right { width:70%; }

.todos .col .wrapper { padding:5px; }
.todos .col.right .wrapper { background-color:white; }

.todos .col.left p { text-align:right; }
.todos .col.left p a { font-weight:bold; }

.todos p { margin:0 !important; }


.section.todos .banner h3 a { color:#333; text-decoration:none; font-family: "Lucida Grande", verdana; font-size:12px; }
.section.todos .banner h3 a span { color:#666; font-size:10px; font-weight:bold; }
.section.todos .banner h3 a:hover { background-color:#03C; color:white; text-decoration:none; }
.section.todos .banner h3 a:hover span { color:white; }

.listable .item { left:0; }
.listable .item .check { left:0; }
.listable .item .label { left:20px; }
