
/**
 * Comments list
 */
.comments .banner ul.right { top:0; }

.comments h4>a { color:#333; text-decoration:none; }
.comments h4>a:hover { color:#333; background-color:transparent; text-decoration:none; }

.comments .delete { margin:2px 0 0 6px; width:16px; height:11px; display:inline-block !important; text-indent:-9000px; background:url(/img/icons/delete-10.png) transparent no-repeat top right; }
.comments .delete a { display:block; width:100%; height:100%; }
.comments .delete a:hover { background-color:transparent; }

.comments .delete.loading { background:url(/img/icons/loader-small-horizontal.gif) white no-repeat center center; }
.comments .delete.loading a { cursor:none; }
 
.comments .section { min-height:70px;  }

.comments .edit { font-size:10px; }
.comments .edit span { margin:0 !important; }
 
 /**
  * Add Comment
  */
#comment-add .section { border-bottom:0; margin-bottom:0; }
#comment-add div.checkbox { margin-bottom:5px; }
#comment-add div.checkbox input { position:relative; top:2px; }
#comment-add div.checkbox label { float:none; width:auto; margin-left:5px; }

