
/**
 * Post index
 */
.box .post-list h3 { margin-bottom:0; }

div.intro .section .banner h3 a { font-size:14px; }
div.intro .section .avatar { float:left; width:45px; }
div.intro .section p { margin:0; }
div.intro .section p.detail { font-size:12px; }
div.intro .section p.comments { font-size:11px; color:#666; }

div.intro .section:last-child { border-bottom:0; margin-bottom:10px; padding-bottom:0; }


/**
 * Post detail / view
 */
.box .post-detail { padding-bottom:0; }

.post-detail h3 { font-size:18px; margin:0; }

.post-detail .avatar { float:right; }

.post-detail .detail { padding:5px 0; }
.post-detail .detail p { font-size:12px; margin:0 0 2px 0; }
.post-detail .detail span { color:#999; display:inline-block; width:70px; }

.post-detail .body { border-top:1px solid #DDD; border-bottom:1px solid #DDD; padding:15px 0; }
.post-detail .body p { margin:0; }
