
/**
 * Comments head
 */
.todositems-comment-head .item.completed .name { text-decoration: line-through; }
.todositems-comment-head .item.completed .name strong { font-weight:normal; color:#666; }



/**
 * Todos add
 */
#TodoAdd fieldset.optional { margin-left:10px; }
#TodoAdd fieldset.optional label { font-size:13px; }
