
.listable .group { border-bottom:none; margin:0 0 15px 0; }

.listable .group .header .item { margin-left:0; }
.listable .group .header .item .maintain { top:-2px; }
.listable .group .header .item .label { left:60px; font-weight:bold; font-size:16px; color:#000000; }
.listable .group .header .item .label a { color:#000000; }
.listable .group .header .item .label a:hover { background-color:transparent; color:#000000; text-decoration:underline; }

.listable .item .check { left:70px; }
.listable .item .label { left:90px; }

.listable .sortable { min-height:5px; }


.items { margin:5px 0 0 0; }
.items .item {  }


.reorder-todos {}
.reorder-todos .item-content { display:none; }
.reorder-todos .header .maintain { background-color:transparent; left:-15px !important; }
.reorder-todos .header .maintain .delete { display:none; }
.reorder-todos .header .maintain .edit { display:none; }
.reorder-todos .header .maintain .position { display:block !important; }


.recent { margin:10px 0 0 0px; }
.recent .item { min-height:15px; }
.recent .item .label { font-size:10px; color:#999; }
.recent .item .label strong { color:#666; font-weight:normal; }

.recent .item .check div.input input { top:0; }
.recent .item .maintain { top:-8px; left:40px; }

.count { margin:10px 0 0 45px; }
.count p { font-size:10px; }
.count p a { color:#999; }
.count p a:hover { color:#FFFFFF; }

.add-item-link { background-color:#EFEFEF; padding:2px 5px; margin:5px 0 0 45px; }
.add-item-link a { font-size:11px; }

.item-add { background-color:#EFEFEF; padding:5px; margin:5px 0 0 45px; }
.item-add label { display:block; font-size:11px; float:none; margin:0 0 3px 0; }
.item-add textarea { height:4em; width:60%; }
.item-add hr { margin:5px 0; clear:both; }

.item-add .options {  }
.item-add .options div.first { float:left; margin-right:20px; }
.item-add .options div.second { float:left; }

.item-add .submit .saving { background-color:#EFEFEF; }

.items .inline { margin-left:45px; }
.items .inline .box { padding:0; border:none; }
.items .inline .box .content { padding:0; }
.inline .item-add { margin-left:0; }
.inline .item-add .description label { display:none; }
